body {
	background-color:white;
	background-image:url(../img/header1.JPG);
	background-size: cover;
}

.bg-image {
    position: absolute;
    z-index: 0;
    max-width:1800px;
}


.header-div {
	min-height:200px;
	margin: 0 auto;
    position: relative;
    background-color: rgba(255,255,255,.8);
	width:100%;
	z-index:999;
	top:50px;
}

.header-text {
	text-align:center;
	margin: 0 auto;
    z-index: 999;
    padding:50px;
    height:100%;
}

.headertext-top {
	margin: 0 auto;
	width:50%;
	min-width:400px;
	max-height:1000px;
	text-align:center;
	padding-bottom:20px;
	border-bottom:2px solid #000;
}

.headertext-bottom {
	padding-top:20px;
	text-align:center;
}

.logo {
	width:100%;
}

h3 {
	display:inline;
}

.contentdiv {
	min-height:200px;
	margin: 0 auto;
    position: relative;
    background-color: #fff;
	width:100%;
	z-index:999;
	top:270px;
	padding:30px;
}

.contenttext {
	text-align:center;
	margin: 0 auto;
    z-index: 999;
    padding:30px;
    height:100%;
}

.faq {
	margin:0 auto;
}

.sponsors {
	width:115px;
	display:inline;
	padding: 5px;
}




/*  button css */

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	padding: 10px 40px;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
	text-decoration:none;
}

#buttonlink {
	text-decoration:none;
}

#buttonlink:hover {
	color:green;
}
